body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 500px;
    height: 10000px;
    margin: auto;
    background-color: #000;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.go {
    position: fixed;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translateY(200px);
    visibility: hidden;
    cursor: pointer;
    user-select: none;
    transition: 1.5s;
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
}

.fly {
    transition: 3s ease-in;
    transform: translateY(-5000px);
}